a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 550px;
  min-width: 450px;
  height: 100%;
  margin-top: 70px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.form .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.form .tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}

.form .tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.form .tab-content #signup h3, .form .tab-content #login h3 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.form .tab-content #signup input, .form .tab-content #login input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
}

.form .tab-content #signup input:focus, .form .tab-content #login input:focus {
  outline: 0;
  border-color: #1ab188;
}

.form .tab-content #signup #file {
  display: none;
}

.form .tab-content #signup .file_label {
  display: block;
  font-size: 20px;
  font-family: Arial;
  width: 100%;
  height: 40px;
  line-height: 30px;
  background-color: #1ab188;
  color: #FFF;
  text-align: center;
  padding: 5px;
  border: 1px solid #CCC;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0 !important;
}

.form .tab-content #signup .file_label:hover {
  background-color: #179b77;
  color: #ffffff;
}

.form .tab-content #signup .fa {
  margin-right: 5px;
}

.field-wrap {
  position: relative;
  margin-bottom: 35px;
}

.field-wrap span {
  color: #a0b3b0;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.forgot a {
  text-decoration: none;
}
/*# sourceMappingURL=login_register.css.map */