$Mau_Nen_main: #fff;
$Mau_Nen_nav: #272730;
$Mau_Nen_user:#1ab188;

$Mau_Border: #222;

$Mau_Chu_1: #1ab188;
$Mau_Chu_2: #ccc;
$Mau_Chu_3: #FFFFFF;

$font_chu:'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$font_size_1: 18px;
$font_size_2: 22px;

$transition-time: 0.5s;

html,
body {
    height: 100%;
    overflow: hidden;
    text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: $Mau_Nen_nav;
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;

    .header {
        padding: 10px 15px;
        width: 100%;
        box-sizing: border-box;
        background-color: $Mau_Nen_user;
        font-weight: bold;
        border-bottom: 2px solid $Mau_Border;
        border-top: 2px solid $Mau_Border;
        height: 75px;

        .users-image {
            width: 50px;
            height: 50px;
            float: left;

            img {
                width: 100%;
                border-radius: 50% !important;
            }
        }

        .users {
            float: left;
            color: $Mau_Chu_3;

            p {
                margin-left: 15px;
                line-height: 50px;
            }
        }
    }

    ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        clear: both;

        a {
            cursor: pointer;
            text-decoration: none !important;

            li {
                display: block;
                padding: 15px 30px;
                border-bottom: 1px solid #0a0a0a;
                cursor: pointer;
                color: $Mau_Chu_2;
                font-family: $font_chu;
                font-size: $font_size_1;

                i {
                    margin-right: 10px;
                    color: $Mau_Chu_2;
                }

                &:hover {
                    font-weight: 400;
                    color: $Mau_Chu_1;
                }

                &:hover i {
                    font-weight: 400;
                    color: $Mau_Chu_1;
                }

            }
        }
    }

}



main {
    display: block;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background-color: $Mau_Nen_main;
    height: 100%;
    text-size-adjust: 100%;
    overflow: hidden;
    z-index: 500;
    transition: $transition-time;

    .header {
        position: fixed;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;
        min-height: 60px;
        padding: 1px 2em;
        width: 100%;
        box-sizing: border-box;
        background-color: $Mau_Nen_nav;

        font-weight: bold;
        justify-content: flex-start;
        z-index: 10000 !important;

        .header-user {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 20px;
            width: 500px;
            .dang-nhap{
                position: absolute;
                top: 15px;
                right: 20px;
                width: 200px;
                a{
                    text-decoration: none;
                   
                }
            }
        }

        .menu-box {
            display: fixed;
            height: 100%;
        }

        .user-box {
            display: flex;
            flex-direction: row-reverse;
        }

        .logo {
            margin-left: 35px;
            color: $Mau_Chu_1;
            line-height: 55px;
            font-size: $font_size_2;
        }

        .user {
            font-weight: normal;
            display: block;
            line-height: 30px;
        }

        .menu-btn {
            height: 30px;
            width: 30px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 10px;
            float: left;

            .menu-bar {
                transition: $transition-time;
                display: block;
                height: 10%;
                background-color: $Mau_Chu_1;
            }
        }
    }
}

.toggled {
    left: 250px;
    top: 60px;
    // margin-right: -250px;
    box-sizing: border-box;
    padding: 0;
    // margin-top: 40px;
    overflow: hidden;
    height: 100%;
}

.button-open-transition {
    border-color: $Mau_Border;
    transition: $transition-time;
}

.button-open {
    .menu-bar-top {
        @extend .button-open-transition;
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu-bar-middle {
        background-color: #fff;
        transform: translate(250px);
        transition: 0.1s ease-in;
        opacity: 0;
    }

    .menu-bar-bottom {
        @extend .button-open-transition;
        transform: rotate(-45deg) translate(7px, -7px);
    }
}


.col-centered {
    float: none;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .user-box {
        justify-content: center;
    }
}