.about-team {
    background-image: url('../../images/background_1.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 50px;
    margin: 0 auto;
}

.about-team h1 {
    font-weight: 600;
    color: #ffffff;
    margin: 50px 0;
}

.card-body {
    background-color: #4d857a;
}

.content-member h5 {
    color: #383838;
    font-weight: bold;
    margin-top: 25px;
}

.content-member p {
    margin: 10px 0;
}
.social{
    height: 100px;
}


.social i {
    padding: 0 15px;
    cursor: pointer;
    color: #383838;
    font-size: 20px;
}

.social i:hover {
    color: #1ab188;
}

.member-items {
    float: left;
    margin: 0 55px;
    display: block;
}

.members {
    width: 250px;
    text-align: center;
}

.members .img-menbers {
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #4e7f79;
    margin: 0 auto;
}

.members .img-menbers img {
    width: 100%;
}

.members .img-menbers:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}