.searchBar_from{
    position: absolute;
    left: 30px;
    top: 65px;
    width: 450px;
    height: 85px;
    background-color: #fcf9f9;
    padding: 20px 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-right: 60px;
    z-index: 200;
    input{
        width: 100%;
        height: 100%;
        outline: none;
        outline-color: none;
        color: #1a4fb1;
        border-color: none;
        border: none;
        border-bottom: 1px solid #1a4fb1;
        padding-left: 5px;
        background: none;
        background-image: none;
        font-size: 19px;
    }
    i{
        position: absolute;
        top: 28px;
        left: 404px;
        color: #1a4fb1;
        font-size: 30px;
    }
    ::-webkit-input-placeholder {
        font-style: italic;
        font-size: 18px;
        color: #1a4fb1;
      }
}

.tim-kiem{
    position: absolute;
    left: 30px;
    top: 300px;
    padding: 6px 27px;
    width: 450px;
}
.showInfoCheck{
    display: none;
    
}
.showInfo{
    position: absolute;
    left: 30px;
    top: 250px;
    width: 450px;
    height: 40px;
    background-color: #b11a33;
    .price{
        float: left;
        background-color: #748fd8;
        width: 225px;
        height: 40px;
        text-align: justify;
        color: white;
        h4{
            margin-left: 30px;
            margin-top: 5px;
            font-size: 22px;
            font-weight: 500;
        }
        
    }
    .khoangcach{
        float: left;
        background-color: #74d88a;
        width: 225px;
        height: 40px;
        text-align: right;
        h4{
            color: #b11a33;
            margin-right: 30px;
            margin-top: 5px;
            span{
                font-size: 18px;    
            }
        }
    }

}

.searchBar_to{
    position: absolute;
    left: 30px;
    top: 155px;
    width: 450px;
    height: 85px;
    background-color: #fcf9f9;
    padding: 20px 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 60px;
    z-index: 199;
    input{
        width: 100%;
        height: 100%;
        outline: none;
        outline-color: none;
        color: #b11a33;
        border-color: none;
        border: none;
        border-bottom: 1px solid #b11a33;
        padding-left: 5px;
        background: none;
        background-image: none;
        font-size: 19px;
    }
    i{
        position: absolute;
        top: 28px;
        left: 404px;
        color: #b11a33;
        font-size: 30px;
    }
    ::-webkit-input-placeholder {
        font-style: italic;
        font-size: 18px;
        color: #b11a33;
      }
}

.modal-backdrop.show{
    z-index: 0;
}
